.card-img-bottom {
    padding: 20px;
    width: 50%;
    height: 35vh;
}

.alert:hover {
    border: 2px solid;
}

.correct {
    background: #38B000;
    color: white;
}
.response {
    background: #70E000;
}

.incorrect {
    background: #EF233C;
    color: white;
}

.disabled-option {
    pointer-events: none;
}