<div class="container-fluid">
  <!-- <div class="row p-3">
        <div class="col-sm-5">
            <div class="contact-box user1 center-version shadow-lg rounded">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" src="../../../assets/competitor1.png">
                </a>
                <div class="p-3 text-center">
                    <mat-form-field class="example-form-field">
                        <mat-label>Participante 1</mat-label>
                        <input [(ngModel)]="participantService.participants[0].name" matInput type="text">
                        <button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <p class="fw-bold fs-4">PUNTAJE: {{participantService.participants[0].score}}</p>
                </div>

                <div class="contact-box-footer">
                    <button (click)="removeScore(0)" mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button (click)="addScore(0)" mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center  align-items-center fs-1 mt-3 mb-3">
            VS
        </div>
        <div class="col-sm-5">
            <div class="contact-box user2 center-version shadow-lg rounded">
                <a>
                    <img alt="image" class="img-circle" src="../../../assets/competitor2.png">
                </a>
                <div class="p-3 text-center">
                    <mat-form-field class="example-form-field">
                        <mat-label>Participante 2</mat-label>
                        <input [(ngModel)]="participantService.participants[1].name" matInput type="text">
                        <button matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <p class="fw-bold fs-4">PUNTAJE: {{participantService.participants[1].score}}</p>
                </div>

                <div class="contact-box-footer">
                    <button (click)="removeScore(1)" mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button (click)="addScore(1)" mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
  <!-- <div class="d-flex justify-content-center" style="width: 70;">
        <div *ngIf="started; else startTemplate">
            <div id="display-container">
                <div class="header">
                    <div class="number-of-count">
                        <span class="number-of-question fs-4">AREA: {{questionService.area}}</span>
                    </div>
                </div>
                <div class="mb-5" *ngIf="question">
                    <h1 class="fw-bold"> {{question.name}}:</h1>
                    <div class="row" *ngFor="let item of question.options; let i=index">
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <p class="fw-bold fs-5">{{i+1}})</p>
                        </div>
                        <div class="col-11">
                            <button appBackground [isCorrect]="item.correct" [disabled]="answered"
                                (click)="answered=true" class="option-div"
                                style="font-size: 20px;">{{item.name}}</button>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <button (click)="getQuestion()" mat-fab extended style="background-color: #FF006E;">
                        <mat-icon>restart_alt</mat-icon>
                        Restablecer
                    </button>
                    <button (click)="endMatch()" mat-fab extended style="background-color: #FFBE0B;">
                        <mat-icon>power_settings_new</mat-icon>
                        Finalizar
                    </button>
                    <button (click)="nextQuestion()" mat-fab extended style="background-color: #3A86FF;">
                        <mat-icon>navigate_next</mat-icon>
                        Siguiente
                    </button>
                </div>
            </div>
            <div class="score-container hide">
                <div id="user-score">Demo Score</div>
                <button id="restart">Restart</button>
            </div>
        </div>
        <ng-template #startTemplate>
            <button (click)="start()" mat-fab extended color="primary" class="mt-5">
                <mat-icon>play_arrow</mat-icon>
                INICIAR
            </button>
        </ng-template>

    </div> -->

  <!-- <div class="text-center" [ngClass]="showWarning ? 'activeInfo':''">
        <button (click)="startQuiz()" mat-fab extended color="primary" class="mt-5">
            <mat-icon>play_arrow</mat-icon>
            INICIAR
        </button>
    </div>

    <div class="quiz_box" >
        <header>
            <div class="title">AREA: {{questionService.area}}</div>
            <div class="timer">
                <div class="time_left_txt">Tiempo</div>
                <div class="timer_sec">{{remainingTime}}</div>
            </div>
            <div class="time_line" style="width: 550px;"></div>
        </header>
        <section *ngIf="isQuizStarted && question">
            <div class="que_text"><span> {{question.name}}</span>
            </div>
            <div class="option_list">
                <div class="option" [ngClass]="{ 'disabled': answered,
                                            'correct':answered && option.correct,
                                            'incorrect':answered  && !option.correct}" (click)="selectOption(option)"
                    *ngFor="let option of question.options">
                    <span>{{option.name}}

                    </span>
                    <ng-container *ngIf="option.isSelected">
                        <div style="font-size: 30px;" *ngIf="option.correct; else incorrectIcon" class="icon tick">
                            &#10004;</div>
                        <ng-template #incorrectIcon>
                            <div style="font-size: 30px;" class="icon cross"> &#10006;</div>
                        </ng-template>

                    </ng-container>

                </div>
            </div>
        </section>

        <div class="row d-flex justify-content-between">
            <button (click)="getQuestion()" mat-fab extended style="background-color: #FF006E;">
                <mat-icon>restart_alt</mat-icon>
                Restablecer
            </button>
            <button (click)="endMatch()" mat-fab extended style="background-color: #FFBE0B;">
                <mat-icon>power_settings_new</mat-icon>
                Finalizar
            </button>
            <button (click)="nextQuestion()" mat-fab extended style="background-color: #3A86FF;">
                <mat-icon>navigate_next</mat-icon>
                Siguiente
            </button>
        </div>
    </div>

 -->

  <div
    *ngIf="!winner; else winnerTemplate"
    class="row mt-4 justify-content-center"
  >
    <div class="col-sm-2">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            <img
              src="../../../assets/img/logo_sacaba.jpeg"
              width="110"
              height="110"
              class="rounded-circle shadow"
              alt=""
            />
            <div class="row justify-content-center mt-4 g-4">
              <div class="col-12">
                <mat-form-field [style.fontSize]="'25px'" class="example-full-width">
                  <mat-label>Participante 1</mat-label>
                  <input
                    matInput
                    [(ngModel)]="participantService.participants[0].name"
                  />
                </mat-form-field>
              </div>
              <div class="col-12">
                <p style="font-size: 100px">
                  {{ participantService.participants[0].score }}
                </p>
              </div>
              <div class="col-3">
                <button
                  mat-raised-button
                  aria-label="Example mini fab with a heart icon"
                  (click)="participantService.addScore(0)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col-3">
                <button
                  mat-raised-button
                  aria-label="Example mini fab with a heart icon"
                  (click)="participantService.reduceScore(0)"
                >
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div
        class="card animate__animated animate__fadeInDown"
        *ngIf="question; else questionHome"
      >
        <div class="card-header d-flex fs-2">
          <div class="me-auto p-2">
            <p class="fw-bold">{{ question?.area }}</p>
          </div>
          <div class="p-2">
            <span class="badge bg-secondary">{{ remainingTime }}</span>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text fw-bold fs-2 lh-sm p-2">{{ question.name }}</p>
          <img
            *ngIf="question.imageUrl"
            [src]="question.imageUrl"
            class="card-img-bottom mx-auto d-block mb-2"
          />
          <section
            *ngIf="showOptions"
            class="animate__animated animate__fadeIn"
          >
            <div
              appBackground
              [isCorrect]="option.correct"
              *ngFor="let option of question.options; let i = index"
              class="alert border-dark disabled-option p-0"
              role="alert"
              [ngClass]="{
                'disabled-option': answered,
                response: answered && option.correct
              }"
              (click)="solve(option)"
            >
              <span
                class="fs-3"
                *ngIf="!option.imageUrl; else templateImageOption"
                >{{ i | clause }}) {{ option.name }}
              </span>
              <ng-template #templateImageOption>
                <h4 class="alert-heading fs-4">
                  {{ i | clause }}) {{ option.name }}
                </h4>
                <hr />
                <div class="text-center">
                  <img class [src]="option.imageUrl" alt="" />
                </div>
              </ng-template>
            </div>
          </section>
        </div>
        <div class="card-footer border-dark d-flex justify-content-between">
          <button (click)="endParty()" mat-raised-button>
            <mat-icon>file_download_done</mat-icon>
          </button>
          <button
            [disabled]="showOptions"
            mat-raised-button
            (click)="startQuestion()"
          >
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-raised-button (click)="getQuestion()">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            <img
              src="../../../assets/img/direccion_educacion.png"
              width="110"
              height="110"
              class="rounded-circle shadow"
              alt=""
            />
            <div class="row justify-content-center mt-4 g-4">
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Participante 2</mat-label>
                  <input
                    matInput
                    [value]="participantService.participants[1].name"
                  />
                </mat-form-field>
              </div>
              <div class="col-12">
                <h1 style="font-size: 100px">
                  {{ participantService.participants[1].score }}
                </h1>
              </div>

              <div class="col-3">
                <button
                  mat-raised-button
                  aria-label="Example mini fab with a heart icon"
                  (click)="participantService.addScore(1)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="col-3">
                <button
                  mat-raised-button
                  aria-label="Example mini fab with a heart icon"
                  (click)="participantService.reduceScore(1)"
                >
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #questionHome>
      <div class="card text-center">
        <div class="card-body">
          <p class="fw-bold lh-sm" style="font-size: 38px">
            <span style="font-size: 50px">BIENVENIDO</span><br />
            AL 1ER CONCURSO INTERCOLEGIAL DE SABERES Y CONOCIMIENTOS DE
            EDUCACIÓN SECUNDARIA COMUNITARIA PRODUCTIVA <br />
            GOBIERNO AUTONOMO MUNICIPAL DE SACABA
          </p>
          <button (click)="getQuestion()" mat-fab extended color="primary">
            <mat-icon>play_arrow</mat-icon>
            INICIAR
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #winnerTemplate>
    <div class="confetti-container">
      <div class="confetti">
        <i style="--speed: 10; --bg: yellow" class="square"></i>
        <i style="--speed: 18; --bg: white" class="pentagram"></i>
        <i style="--speed: 29; --bg: green" class="rectangle"></i>
        <i style="--speed: 17; --bg: blue" class="hexagram"></i>
        <i style="--speed: 33; --bg: red" class="pentagram"></i>
        <i style="--speed: 26; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 24; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 5; --bg: blue" class="wavy-line"></i>
        <i style="--speed: 40; --bg: white" class="square"></i>
        <i style="--speed: 17; --bg: green" class="rectangle"></i>
        <i style="--speed: 25; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 15; --bg: yellow" class="wavy-line"> </i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 25; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 23; --bg: pink" class="wavy-line"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 37; --bg: pink" class="wavy-line"></i>
        <i style="--speed: 36; --bg: white" class="hexagram"></i>
        <i style="--speed: 32; --bg: green" class="wavy-line"></i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 29; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 30; --bg: pink" class="rectangle"></i>
        <i style="--speed: 30; --bg: red" class="square"></i>
        <i style="--speed: 18; --bg: red" class="pentagram"></i>
        <i style="--speed: 19; --bg: green" class="rectangle"></i>
        <i style="--speed: 16; --bg: blue" class="hexagram"></i>
        <i style="--speed: 23; --bg: red" class="pentagram"></i>
        <i style="--speed: 34; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 39; --bg: pink" class="wavy-line"></i>
        <i style="--speed: 40; --bg: purple" class="square"></i>
        <i style="--speed: 21; --bg: green" class="rectangle"></i>
        <i style="--speed: 14; --bg: white" class="square"></i>
        <i style="--speed: 38; --bg: green" class="rectangle"></i>
        <i style="--speed: 19; --bg: red" class="dodecagram"></i>
        <i style="--speed: 29; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 21; --bg: white" class="hexagram"></i>
        <i style="--speed: 17; --bg: purple" class="wavy-line"></i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 23; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 48; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 38; --bg: pink" class="rectangle"></i>
        <i style="--speed: 13; --bg: red" class="pentagram"></i>
        <i style="--speed: 49; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 19; --bg: cyan" class="wavy-line"></i>
        <i style="--speed: 15; --bg: steelblue" class="square"></i>
        <i style="--speed: 10; --bg: yellow" class="square"></i>
        <i style="--speed: 18; --bg: white" class="pentagram"></i>
        <i style="--speed: 29; --bg: green" class="rectangle"></i>
        <i style="--speed: 17; --bg: blue" class="hexagram"></i>
        <i style="--speed: 33; --bg: red" class="pentagram"></i>
        <i style="--speed: 26; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 24; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 5; --bg: white" class="wavy-line"></i>
        <i style="--speed: 40; --bg: purple" class="square"></i>
        <i style="--speed: 17; --bg: green" class="rectangle"></i>
        <i style="--speed: 25; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 15; --bg: cyan" class="wavy-line"> </i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 45; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 37; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 26; --bg: white" class="hexagram"></i>
        <i style="--speed: 32; --bg: cyan" class="wavy-line"></i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 45; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 23; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 50; --bg: pink" class="rectangle"></i>
        <i style="--speed: 30; --bg: red" class="square"></i>
        <i style="--speed: 18; --bg: red" class="pentagram"></i>
        <i style="--speed: 19; --bg: green" class="rectangle"></i>
        <i style="--speed: 16; --bg: blue" class="hexagram"></i>
        <i style="--speed: 23; --bg: red" class="pentagram"></i>
        <i style="--speed: 33; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 39; --bg: white" class="wavy-line"></i>
        <i style="--speed: 40; --bg: orange" class="square"></i>
        <i style="--speed: 21; --bg: green" class="rectangle"></i>
        <i style="--speed: 14; --bg: white" class="square"></i>
        <i style="--speed: 38; --bg: green" class="rectangle"></i>
        <i style="--speed: 19; --bg: red" class="dodecagram"></i>
        <i style="--speed: 29; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 34; --bg: white" class="hexagram"></i>
        <i style="--speed: 17; --bg: indigo" class="wavy-line"></i>
        <i style="--speed: 32; --bg: yellow" class="pentagram"></i>
        <i style="--speed: 23; --bg: white" class="square"></i>
        <i style="--speed: 18; --bg: green" class="rectangle"></i>
        <i style="--speed: 37; --bg: red" class="dodecagram"></i>
        <i style="--speed: 48; --bg: pink" class="wavy-line"> </i>
        <i style="--speed: 38; --bg: pink" class="rectangle"></i>
        <i style="--speed: 13; --bg: red" class="pentagram"></i>
        <i style="--speed: 49; --bg: yellow" class="dodecagram"></i>
        <i style="--speed: 19; --bg: purple" class="wavy-line"></i>
        <i style="--speed: 15; --bg: cyan" class="square"></i>
      </div>
    </div>
    <div
      class="row mt-4 justify-content-center animate__animated animate__backInDown"
    >
      <div class="col-sm-3 text-center">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../assets/img/logo_sacaba.jpeg"
              width="110"
              height="110"
              class="rounded-circle shadow mb-3"
              alt=""
            />
            <h1 class="card-title">
              {{ participantService.participants[0].name }}
            </h1>
            <h2 class="card-subtitle mb-2 text-body-secondary">
              PUNTAJE: {{ participantService.participants[0].score }}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-center">
          <img
            src="../../../assets/trofeo.png"
            class="card-img-bottom mx-auto d-block"
            style="width: 200px; height: 200px"
            alt="..."
          />
          <div class="card-body">
            <p class="fs-3 fw-bold" style="color: green">FELICIDADES...</p>
            <h1 class="fs-2 fw-bold">{{ winner.name }}</h1>
            <P class="fs-1"> {{ winner.score }} PUNTOS </P>

            <button (click)="restart()" mat-raised-button color="warn">
              GANADOR
            </button>
            <p class="mt-4 fs-3 lh-sm">
              DEL 1ER CONCURSO INTERCOLEGIAL DE SABERES Y CONOCIMIENTOS DE
              EDUCACIÓN SECUNDARIA COMUNITARIA PRODUCTIVA <br />
              GOBIERNO AUTONOMO MUNICIPAL DE SACABA
            </p>
            <img
              style="width: 60%; margin-top: 20px"
              src="../../../assets/img/sigamos_adelante.jpg"
              class="card-img-top"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="card">
          <div class="card-body">
            <img
              src="../../../assets/img/direccion_educacion.png"
              width="110"
              height="110"
              class="rounded-circle shadow mb-4"
              alt=""
            />
            <h1 class="card-title">
              {{ participantService.participants[1].name }}
            </h1>
            <h2 class="card-subtitle mb-2 text-body-secondary">
              PUNTAJE: {{ participantService.participants[1].score }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
